body {
  font-family: Helvetica;
  font-size: 14px;
  text-align: center;
}

.logo {
  background-image: url("../../resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

footer {

  background-color: dimgray;
}

.copy {
  font-size: 11px;
  font-weight: normal;
  color: white;
}
